<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">MUTCHO</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/inscription">Inscription</a>
      </li>
      <li>
        <a href="/connection">Connection</a>
      </li>
      <li>
        <a href="/compte">Mon Compte</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron text-center"  style="padding:40px;">
      <h2>Mutcho</h2>
      <blockquote class="blockquote">
      <p class="m-b-0">« Dis-toi bien qu'aucune parole, aucune marque de tendresse ne sera jamais capable de te prouver tant d'amour que j'ai pour toi. Tu es ma vie, tu es ma joie, tu as illuminé mes jours et tu les a remplis d'un parfum qui enivre, un parfum qui fait aimer la vie, qui la fait trouver belle, même quand les circonstances sont dures ou quand on se sent devenir misanthrope.</br>
      Petite aimée, tu es la compagne que j'avais toujours rêvé d'avoir pour traverser la vie et je t'aime... Aimer c'est se donner corps et âme, c'est s'identifier à l'être aimé, c'est souffrir quand il souffre, c'est être joyeux quand il rit, aimer c'est aussi posséder, c'est aussi triompher de la joie de sentir un autre vibrer comme toi... Aimer, c'est tout ce qu'on peut s'imaginer de plus doux, de plus fort, de plus beau. C'est le sacrifice et la possession réciproque de deux êtres unis pour la vie.</br>
      Ah, Chérie, dis-toi bien tout cela, et dis-toi bien que pour l'amour que j'ai pour toi, je me sens plus fort, je me sens meilleur et je me sens plus joyeux. Et puis je sais et je sens que tu m'aimes autant que je pouvais le désirer et tu as fais de moi un homme heureux et non pas heureux de ce bonheur béat et végétatif dont jouissent les moucherons et les tortues, mais du bonheur actif puissant, fort et doux que l'homme peut convoiter sur terre.</br>
      Ma petite femme de chair, toi dont les baisers me rendent fort, ma petite femme d'esprit, toi dont j'aime toute la grâce, la générosité et la bonté profonde, je t'aime... je t'aime.</br>
      Je mords tes lèvres aimées et je bois dans ton baiser la force et le bonheur.»</p>
       <footer class="blockquote-footer"><strong>Georges Pétin.</strong></br><i>Ancien Poilus de la première guerre.</i></footer>
        
      </blockquote>   

      <!-- Bouton "learn more" (modal)-->
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#learnMoreBtn">Learn More  </button>
      <!-- Modal -->
      <div class="modal fade" id="learnMoreBtn">
        <div class="modal-dialog">
          <!-- Contenu -->
          <div class ="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><i>x</i></button>
                <h4 class="modal-title">Mutcho</h4>
            </div>
            <div class="modal-body">
              <p>Bienvenue sur l'application Mutcho! Veuillez vous inscrire avant d'utiliser notre application</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
     </div>
</body>
</html>