<div class="jumbotron"  style="padding:40px;">
      <h1>N'attendez plus pour trouver l'ame soeur</h1>
      <p>c'est partittttt</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
</div>